<!DOCTYPE html>
<html>
<head>
<title>
{{ page.title }}
</title>

</head>


<body>
<h1>{{ page.title }}</h1>

<p style="font-size: smaller;">
Last Modified: {{ page.lastmod_epoch | date_to_rfc822 }} ; Created: {{ page.creation_epoch | date_to_rfc822 }}
</p>

<table>
<tr>
<td>{{ content }}</td>

<td style="vertical-align:top;">
<ul style="list-style-type: none;">
{% for post in site.posts  limit:5 %}
	<li><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<ul style="list-style-type: none;">
  {% assign sorted_categories = site.categories | sort %}
  {% for tuple in sorted_categories %}
    {% assign category_name = tuple[0] %}
    <li><a href="{{site.baseurl}}/categories/{{category_name}}.html">{{category_name}}</a></li>
  {% endfor %}
</ul>
</td>
</tr>
</table>
  
</body>
</html>
